<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    body {
      display: flex;
      flex-direction: row;
    }
    #chatbot-iframe {
      width: 30%; /* adjust the width to your liking */
      height: 100vh;
      border: none;
    }
    #right-side {
      width: 70%; /* adjust the width to your liking */
      padding: 20px;
    }
  </style>
</head>


<!--Side bar design-->


<body>
  <div id="chatbot-iframe">
   <h1> Hello</h1>
   {% if logged_in %}
   Welcome {{ username }} {{ email }}
   <br>
   <a href="/logout">logout</a>
   {%else%}
   <h4>SignUp to the FlaskLogin</h4>
   {% endif %}
   <br>

  </div>




<!-- Handling & Rendering of Chat -->
  <script>
    var username = "{{ username }}";
    var userid = "{{ email }}";
  </script>
  <div id="right-side">
    <!-- add elements here, e.g. -->
    <flowise-fullchatbot></flowise-fullchatbot>
    <script type="module">
      import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js"
      Chatbot.initFull({
        chatflowid: "dc5f49ac-f33b-4493-87a8-f3d51de64c53",
        apiHost: "http://192.168.1.43:3000",
        chatflowConfig: {
          "systemMessage": "You are a useful virtual assistant speaking to " + username + " You are here to assist " + username + " to answer questions about their finances. Use the tools available to you to answer questions. If you do not know the answer then rather apologise and say you do not know",
          vars: {
            usermail: userid
        }
    }
      })
    </script>
  </div>
</body>
</html>